toml
aiohttp
pydantic
sentencepiece
vllm-client
requests
openai
lxml
vllm-client
jinja2
tree-sitter

# Because of the tokenizers
transformers

# Because of Yi's tokenizer
protobuf

# Development and testing
coverage
