{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to decide which of the implementation plans solve the TASK described by the TASK-DESCRIPTION better.
    The TASK is either a code smell or bug which needs to be fixed or a feature or change which needs to be implemented.
    Do NOT implement the TASK. Your job is limited only to determining which of the implementation plans is better.

    Implementation plans to choose from:
    - IMPLEMENTATION-PLAN-ALPHA
    - IMPLEMENTATION-PLAN-BETA

    Your RESPONSE must conform to this JSON schema:

    ```jsonschema
    {{ schema }}
    ```

    Work on your response by following these steps:

    1. Set the `reasoning` field to explain why one implementation plan is better than the other.
    2. Set the `better_implementation_plan` field to "ALPHA" is IMPLEMENTATION-PLAN-ALPHA is better, otherwise set it to "BETA".

    ALWAYS follow these rules:

    - PREFER the implementation plan which proposes a sound, complete implementation.
    - PREFER the implementation plan which results in cleaner and easier to maintain code.
    - PREFER the implementation plan which results in code which is more readable for humans.
    - PREFER the implementation plan which clearly describes the required code changes.
    - PREFER the simple plans to complex ones.
    - DISLIKE any overengineered plan, which would result in a significant increase in the amount of code or code complexity.
    - DISLIKE the implementation plan which proposes a hackish or complicated solution.
    - DISLIKE the implementation plan which proposes an incomplete solution.
    - DISLIKE the implementation plan which proposes the removal of existing functionality, unless it is explicitly requested by the TASK.
    - DISLIKE the implementation plan which proposes the addition of new functionality, unless it is explicitly requested by the TASK.

</INSTRUCTIONS>

<TASK-DESCRIPTION>

    {{ task.description }}

</TASK-DESCRIPTION>

<IMPLEMENTATION-PLAN-ALPHA>

    {{ implementation_plan_alpha }}

</IMPLEMENTATION-PLAN-ALPHA>

<IMPLEMENTATION-PLAN-BETA>

    {{ implementation_plan_beta }}

</IMPLEMENTATION-PLAN-BETA>

Now take a deep breath and write your RESPONSE: