{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to provide a very concise summary of the most important part of the BUILD-ERROR below.
    The BUILD-ERROR occured while attempting to compile the modified solution after implementing
    the TASK.

    Write up to 5 sentences, not more. Strive for giving useful insight into why the build failed.
    It should be a constructive feedback usable for anyone attempting to implement the TASK again.
    The feedback should help avoiding the same mistake.

    Concentrate only on the build errors.
    In case of multiple errors focus only on the first one.
    Ignore any warnings and other non-critical content.

</INSTRUCTIONS>

<TASK>

    {{ task.description }}

</TASK>

<BUILD-ERROR>

    After implementing the above TASK the solution failed to build with the following ERROR:

    ```
    {{ error }}
    ```

</BUILD-ERROR>

Now take a deep breath and write your FEEDBACK: