{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to provide a very concise summary of the most important part of the TEST-ERROR below.
    The TEST-ERROR occured while attempting to compile the solution.

    Find the errors in the TEST-ERROR and list them, while ignoring all the warnings and other information.
    List the errors together with the code lines they apply to in the format of the original error message.

    - Ignore any warnings and other non-critical content.
    - Ignore any errors related to SonarQube.

</INSTRUCTIONS>

<TEST-ERROR>

    After implementing the above TASK running the tests of the solution failed with the following ERROR:

    ```
    {{ error }}
    ```

</TEST-ERROR>

Now take a deep breath and write your FEEDBACK: