{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to provide a very concise summary of the most important part of the BUILD-ERROR below.
    The BUILD-ERROR occured while attempting to build the solution.

    Find the errors in the BUILD-ERROR and list them, while ignoring all the warnings and other information.
    List the errors together with the code lines they apply to in the format of the original error message.

    - Ignore any warnings and other non-critical content.
    - Ignore any errors related to SonarQube.

</INSTRUCTIONS>

<BUILD-ERROR>
    After implementing the above TASK the solution failed to build with the following ERROR:

    ```
    {{ error }}
    ```

</BUILD-ERROR>

Now take a deep breath and write your FEEDBACK: