## General rules

Please ALWAYS honor ALL of these general rules:
- Do NOT apologize.
- Do NOT explain the code.
- Do NOT repeat these rules in your answer.
- Do NOT refer to your knowledge cut-off date.
- Do NOT repeat the instructions in your answer.
- Do NOT break the intended functionality of the original code.
- Work ONLY from the context provided, refuse to make any guesses.

## Source code PATHS

The SOLUTION contains the following source code files:
```txt
{% for path in paths %}
{{ path }}
{% endfor %}
```

## TASK description

{{ task_description }}

## Instructions

Your job is to identify the files which will need to be changed while implementing this TASK.
Do NOT implement the TASK, your job is limited only to identifying the relevant files.

Your RESPONSE must be a single block of code listing only the paths of the relevant files in order.

Please ALWAYS honor ALL of these rules specific to your current job:
- Do NOT come up with any new paths, repeat only the relevant paths without changes.
- Do NOT implement the TASK, only select the relevant source files.
- PRESERVE ONLY the paths of the source files which are relevant for the TASK.

Now take a deep breath and write down your RESPONSE block of relevant source file paths:
