{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to complete the TASK described by the TASK-DESCRIPTION by implementing changes to the SOURCE-CODE.
    The SOURCE-CODE is part of a larger project, the relevant parts have already been extracted for you.

    Please ALWAYS honor ALL of these rules specific to your current job:

    - ALWAYS write clean, human-readable code.
    - Make ONLY the changes necessary to implement the TASK.
    - Do NOT make any changes unrelated to the TASK.
    - Do NOT remove any existing code or comments unrelated to the TASK.
    - UPDATE any existing comments related to the TASK to match the modified code.
    - Remove existing comments ONLY if they are invalidated by implementing the TASK.
    - NEVER use placeholders, ALWAYS write out the full code.
    - PRESERVE code lines containing {MARKER_NAME}, even if they don't seem to relate to the logic.

    Respond only the code blocks you need to make changes to. Preserve the marker before each of the code blocks.

</INSTRUCTIONS>

<TASK-DESCRIPTION>

    {{ task.description }}

</TASK-DESCRIPTION>

<SOURCE-CODE>

    {% for source in task.sources %}

        {% set doc = source.document %}
        {% set hunk = source.relevant %}
        {% set path = doc.path %}
        {% set code_block = hunk.code_block %}
        {% include 'code_block.jinja' with context %}

    {% endfor %}

</SOURCE-CODE>

Take a deep breath and implement the changes to the SOURCE-CODE required to accomplish the TASK.
