{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to determine the code changes required to implement
    the TASK below. The TASK is either a code smell or bug which needs
    to be fixed or a feature or change which needs to be implemented.

    Do NOT implement the TASK. Your job is limited only to determining
    the code changes required to implement and to identify any additional
    source code which needs to be known or get changed to do that.

    The ORIGINAL-SOURCE-CODE is part of a larger project.
    You can see only the relevant parts of the code here.

    Your RESPONSE must be concise list of code changes required.
    Write down all the code changes needed in a way which is useful for someone
    who needs to implement these code changes later. Do not actually implement
    the code changes, only describe them at a level required to implement them
    ithout any confusion.

    If you need to implement any new data structures which is expected to be shared by those
    code changes then implement that data structure in a code block right after the list.

</INSTRUCTIONS>

<TASK-DESCRIPTION>

    {{ task.description }}

</TASK-DESCRIPTION>

<ORIGINAL-SOURCE-CODE>

    {% for source in task.sources %}

        {% set doc = source.document %}
        {% set hunk = source.relevant %}
        {% set path = doc.path %}
        {% set code_block = hunk.code_block %}
        {% include 'code_block.jinja' with context %}

    {% endfor %}

</ORIGINAL-SOURCE-CODE>

Now take a deep breath and write your RESPONSE: