{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to determine the code changes required to implement
    the TASK below. The TASK is either a code smell or bug which needs
    to be fixed or a feature or change which needs to be implemented.

    Do NOT implement the TASK. Your job is limited only to determining
    the code changes required to implement and to identify any additional
    source code which needs to be known or get changed to do that.

    Your RESPONSE must adhere to this JSON schema:

    ```jsonschema
    {{ response_schema }}
    ```

    Fill the JSON fields with the following:

    Set the "state" field to "INCOMPLETE" if you need to see more source code related
    to the TASK in order to fully understand its scope and the code changes required.
    In this case fill in the "names" field with the list of the symbols you want to be
    retrieved. These names can be source paths, namespaces, interfaces, classes,
    structs, records, methods, functions or variables.

    Set the "state" field to "READY" if you have seen all the source code which needs
    to be known to work on the code changes required to implement the TASK. In this case
    set the "names" field as an empty list.

</INSTRUCTIONS>

<TASK>

    {{ task.description }}

</TASK>

{% if facts %}
    <RELEVANT-SOURCE-CODE>

        {% for fact in facts %}

            ```
            {{ fact }}
            ```

        {% endfor %}

    </RELEVANT-SOURCE-CODE>
{% endif %}

Now take a deep breath and write your RESPONSE: