{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to determine the code changes required to implement
    the TASK below. The TASK is either a code smell or bug which needs
    to be fixed or a feature or change which needs to be implemented.

    Do NOT implement the TASK. Your job is limited only to determining
    the code changes required to implement and to identify any additional
    source code which needs to be known or get changed to do that.

    Your RESPONSE must be concise list of code changes required.

    If you need to implement any new data structures which is expected to be shared by those
    code changes then implement that data structure in a code block right after the list.

</INSTRUCTIONS>

<TASK-DESCRIPTION>

    {{ task.description }}

</TASK-DESCRIPTION>

Now take a deep breath and write your RESPONSE: