{% include 'general_rules.jinja' with context %}

<INSTRUCTIONS>

    Your job is to verify whether the IMPLEMENTATION-PLAN would solve the TASK described by the TASK-DESCRIPTION.
    The TASK is either a code smell or bug which needs to be fixed or a feature or change which needs to be implemented.

    Do NOT implement the TASK. Your job is limited only to determining
    whether the already IMPLEMENTATION-PLAN would implement the TASK
    properly or not.

    Your RESPONSE must conform to this JSON schema:

    ```jsonschema
    {{ schema }}
    ```

    Work on your response by following these steps:

    1. Set the `reasoning` field to explain why the IMPLEMENTATION-PLAN is approved or not approved.
    2. Set the `approve_changes` field to `true` ONLY if you approve the IMPLEMENTATION-PLAN, otherwise set this field to `false`.

    ALWAYS follow these rules:

    - Do NOT approve any code change which would remove existing functionality without the TASK explicitly asking for it.
    - Do NOT approve any code change which would implement something unrelated to the TASK.
    - Do NOT approve hackish solutions.
    - Do NOT approve solutions which would make the code much less readable for humans.
    - Do NOT approve incomplete solutions.
    - Approve ONLY sound, complete solutions which improves code clarity.
    - Approve the code change ONLY if it is a simple solution to solve the TASK at hand.

</INSTRUCTIONS>

<TASK-DESCRIPTION>

    {{ task.description }}

</TASK-DESCRIPTION>

<IMPLEMENTATION-PLAN>

    {{ implementation_plan }}

</IMPLEMENTATION-PLAN>

Now take a deep breath and write your RESPONSE: