{% if hunk %}

    {% set document = hunk.document %}
    {% set block = hunk.block %}
    {% set replacement = hunk.replacement %}

    - Path: `{{ document.path }}`
    - DocType: `{{ document.doctype }}`
    - Block: `{{ block.begin }}:{{ block.end }}`
    - Markers: {{ hunk.markers | length }}

    {% set text = hunk.code_block %}
    {% include 'text.jinja' with context %}

    {% if replacement %}
        #### Replacement
        {% set text = '```\n' + '\n'.join(replacement) + '\n```' %}
        {% include 'text.jinja' with context %}
    {% endif %}

{% else %}

    None

{% endif %}
