{% if patch %}

    {% set document = patch.document %}

    - Path: `{{ document.path }}`
    - DocType: `{{ document.doctype }}`
    - Hunks: {{ patch.hunks | length }}

    {% for hunk in patch.hunks %}
        #### Hunk {{ loop.index }}

        {% include 'hunk.jinja' with context %}

    {% endfor %}

{% else %}

    None

{% endif %}
