## Task

<details open>
    <summary>Attributes</summary>

    - ID: `{{ task.id }}`

    - Ticket: {{ task.ticket }}

    - Branch: {{ task.branch }}

    - Commit: {{ task.commit_hash }}

    - State: {{ task.state }}

    - PR: {{ task.pr }}

</details>

<details open>
    <summary>Description</summary>

    {{ task.description }}

</details>


{% if task.error %}
    <details open>
        <summary>Error</summary>
        {% set error = task.error %}
        {% include 'error.jinja' with context %}
    </details>
{% endif %}


{% if task.generations %}

    ### Generations

    {% for generation in task.generations %}
        <details>
            <summary>Generation #{{ loop.index }}</summary>
            {% include 'generation.jinja' with context %}
        </details>
    {% endfor %}

{% endif %}
