## Task

<details open>
    <summary>Attributes</summary>

    - ID: `{{ task.id }}`

    - Ticket: {{ task.ticket }}

    - Branch: {{ task.branch }}

    - Parent task: {{ task.parent }}

    - Retried task: {{ task.retried }}

    - State: {{ task.state }}

    - PR: {{ task.state }}

    {% if task.error %}
        <details open>
            <summary>Error</summary>
            {% set error = task.error %}
            {% include 'error.jinja' with context %}
        </details>
    {% endif %}

</details>

<details open>
    <summary>Description</summary>

    {{ task.description }}

</details>
{% if task.sources_generation %}

    ---

    <details>
        <summary>Source selection</summary>
        {% set generation = task.sources_generation %}
        {% include 'generation.jinja' with context %}
    </details>
{% endif %}

{% if task.sources %}
    {% for source in task.sources %}

        ---

        <details>
            <summary>{{ source.document.path }}</summary>
            {% include 'source.jinja' with context %}
        </details>
    {% endfor %}
{% endif %}


{% if task.feedbacks %}

    ---

    <details>
        <summary>Feedbacks</summary>
        {% for feedback in task.feedbacks %}
            {% include 'feedback.jinja' with context %}
        {% endfor %}
    </details>
{% endif %}

