## Task

<details open>
    <summary>Attributes</summary>

    - ID: `{{ task.id }}`

    - Ticket: {{ task.ticket }}

    - Branch: {{ task.branch }}

    {% if task.commit_hash %}
        - Commit: {{ task.commit_hash }}
    {% endif %}

    - State: {{ task.state }}

    {% if task.pr %}
        - PR: {{ task.pr }}
    {% endif %}

</details>

<details open>
    <summary>Description</summary>

    {{ task.description }}

</details>


{% if task.error %}
    <details open>
        <summary>Error</summary>
        {% set error = task.error %}
        {% include 'error.jinja' with context %}
    </details>
{% endif %}


{% if task.plan %}
    <details open>
        <summary>Plan</summary>
        {% set text = task.plan %}
        {% include 'text.jinja' with context %}
    </details>
{% endif %}


{% if task.generations %}

    ### Generations

    {% for generation in task.generations %}
        <details>
            <summary>Generation #{{ loop.index }}</summary>
            {% include 'generation.jinja' with context %}
        </details>
    {% endfor %}

{% endif %}
