
- `first_generation_id`: {{ thinking.first_generation_id }}
- `concluding_id`: {{ thinking.concluding_id }}
- `concluding_index`: {{ thinking.concluding_index }}

<details>
    <summary>Generations</summary>
    {% for generation in thinking.generations.values() %}

        ---

        <details>
            <summary>Generation {{ loop.index }}</summary>
            {% include 'generation.jinja' with context %}
        </details>
    {% endfor %}
</details>

<details>

    ---

    <summary>Connections</summary>
    {% set text = thinking.connections %}
    {% include 'text.jinja' with context %}
</details>
